# Use this file to store secrets like usernames and passwords.
# Learn more at https://www.home-assistant.io/docs/configuration/secrets/
telegram_bot_api_key: {{ ha_telegram_bot_api_key }}
telegram_bot_chat_ids: {{ ha_telegram_bot_chat_ids }}
telegram_bot_my_chat_id: {{ ha_telegram_bot_my_chat_id }}
mariadb_url: {{ ha_mariadb_url }}
sp_dc: {{ ha_sp_dc }}
sp_key: {{ ha_sp_key }}
mqtt_password: {{ ha_mqtt_password }}
wifi_ap_password: {{ ha_wifi_ap_password }}
hik_pass: {{ ha_hik_pass }}